<th:block th:include="@{_header.html}"/>

                <article>
                    <h2>구매회원 이용약관</h2>

                    <p>
                        <span class="tit">
                            제1조 (목적)
                        </span>
                        <span class="content">
							[[${vo.one}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제2조 (약관의 명시, 효력과 개정)
                        </span>
                        <span class="content">
                         	[[${vo.two}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제3조 (용어의 정의)
                        </span>
                        <span class="content">
                            [[${vo.three}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제4조 (서비스의 종류)
                        </span>
                        <span class="content">
                            [[${vo.four}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제5조 (대리행위의 부인)
                        </span>
                        <span class="content">
                            [[${vo.five}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제6조 (보증의 부인)
                        </span>
                        <span class="content">
                            [[${vo.six}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제7조 (구매 서비스 이용계약의 성립)
                        </span>
                        <span class="content">
                            [[${vo.seven}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제8조 (개인정보의 변경, 보호)
                        </span>
                        <span class="content">
                            [[${vo.eight}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제9조 (아이디 및 비밀번호의 관리)
                        </span>
                        <span class="content">
                            [[${vo.nine}]]
                        </span>
                    </p>
                    <p>
                        <span class="tit">
                            제10조 (이용계약의 종료)
                        </span>
                        <span class="content">
                            [[${vo.ten}]]
                        </span>
                    </p>
                </article>
            </section>
        </main>
        
<th:block th:include="@{terms_footer.html}"/>
        