<th:block th:include="@{termsPolicy/_header.html}"/>
<section class="privacy">
                <nav>
                  <h1>KMARKET 서비스 이용약관</h1>
                  <ul>
                    <li><a th:href="@{/termsPolicy/buyer}">구매회원 약관</a></li>
                    <li><a th:href="@{/termsPolicy/seller}">판매회원 약관</a></li>                    
                    <li><a th:href="@{/termsPolicy/finance}">전자금융거래 약관</a></li>
                    <li><a th:href="@{/termsPolicy/location}">위치정보이용 약관</a></li>                      
                    <li class=on><a th:href="@{/termsPolicy/privacy}">개인정보수집 방침</a></li>
                  </ul>
                </nav>
                <article>
                  <h2>개인정보수집 방침</h2>
                   <th:block th:each="p : ${ps}">
                  <p>
                    <span class="tit">[[${p.tit}]]</span>
                    <span class="content">[[${p.content}]]</span>
                  </p>
                  </th:block>
                </article>
            </section>

        </main>
        
<th:block th:include="@{termsPolicy/_footer.html}"/>

        