<th:block th:include="@{admin/_header.html}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 <script>
 
 $(function(){
		$("#allCheck").click(function(){
			var chk = $("#allCheck").prop("checked");
		 	if(chk) {
		 		$(".chBox").prop("checked", true);
		 	} else {
		 		$(".chBox").prop("checked", false);
		 	}
		});
		$(".chBox").click(function(){
			$("#allCheck").prop("checked", false);
		});
 });
/*		
		$('.del').click(function(){
    		let chk = [];
    		let checkArr = $("input[name=chkNotice]:checked").length;
    		 $('input[name=chkNotice]:checked').each(function(){
    		      chk.push($(this).val());
    		    });
    		 console.log(chk);
    		 if(checkArr == 0) {
    				
    				//리스트에 값이 존재하지 않음
    				alert("선택한 글이 존재하지 않습니다");
    			}else if(
    				confirm("선택한 글을 삭제하시겠습니까?")){
    				$('input[name=chkNotice]:checked').parents('tr').remove();
    					$.ajax({
    						url : '/Kmarket2/admin/cs/notice/list/deleteNotice',
    						type : 'POST',
    						traditional: true,
    						data : {'chk': chk},
    						dataType : 'json',
    						success : function(data){
    							if(data.result > 0){
    								alert('삭제가 완료되었습니다');
    								location.reload();
    							}else{
    								return;
    							}
    						}
    					});
    				}
    			
    		 
    	});
 });
 */	
</script>
            <section id="admin-notice-list">
                <nav>
                    <h3>공지사항 목록</h3>
                    <p>
                        HOME > 고객센터 > 
                        <strong>공지사항</strong>
                    </p>
                </nav>
                <section>
                    <div>
                        <select name="search" class="cate">
                            <option value="">전체</option>
                            <option value="customerService">고객서비스</option>
                            <option value="safeTrade">안전거래</option>
                            <option value="hazardousProduct">위해상품</option>
                            <option value="winningEvent">이벤트 당첨</option>
                        </select>
                    </div>
                    <table>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" name="all" id="allCheck">
                                </label>
                            </th>
                           
                            <th>번호</th>
                            <th>유형</th>
                            <th>제목</th>
                            <th>조회</th>
                            <th>날짜</th>
                            <th>관리</th>
                        </tr>
                        <tr th:each="notices : ${notices}">
                            <td>
                                <label>
                                    <input type="checkbox" name="chkNotice" class="chBox" data-no="${notices.no}">
                                    <input type="hidden" class="group" th:value="${notices.group}">
                                    <input type="hidden" class="cate" th:value="${notices.cate}">
                                </label>
                            </td>
                            <td>[[${notices.no}]]</td>
                            <th:block>
	                            <td th:if="${notices.cate} == customerService">고객서비스</td>
	                            <td th:if="${notices.cate} == safeTrade">안전거래</td>
	                            <td th:if="${notices.cate} == hazardousProduct">위해상품</td>
	                            <td th:if="${notices.cate} == winningEvent">이벤트당첨</td>
                            </th:block>
                            <td>
                                <a th:href="@{/admin/cs/notice/view(group=${notices.group},no=${notices.no},cate=${notices.cate})}">[[${notices.title}]]</a>
                            </td>
                            <td>[[${notices.hit}]]</td>
                            <td>[[${notices.rdate}]]</td>
                            <td>
                                <a class="del">[삭제]</a>
                                <a th:href="@{/admin/cs/notice/modify(group=${notices.group},no=${notices.no},cate=${notices.cate})}">[수정]</a>
                            </td>
                        </tr>
                    </table>
                    
                    <input type="button" value="선택삭제">
                    <a th:href="@{/admin/cs/notice/write}">작성하기</a>
                    <div class="paging">
                    
                    	<th:block th:if="${groups[0]>1}">
                        <span class="prev">
                            <a th:href="@{/admin/cs/notice/list(group=notice,pg=${groups[0]-1})}" class="prev">이전&nbsp;</a>
                        </span>
                        </th:block>
                        
                        <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                        <span class="num">
		                	<a th:href="@{/admin/cs/notice/list(group=notice,pg=${num})}"
		                	   th:class="${num==currentPage?'num current':'num'}">[[${num}]]</a>
		               	</span>
				       	</th:block>
				       	
				       	<th:block th:if="${groups[1]<lastPageNum}">
                        <span class="next">
                            <a th:href="@{/cs/notice/list(group=notice,pg=${groups[1]+1})}" class="next">다음&nbsp;</a>
                        </span>
                        </th:block>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div>
                <p>
                    Copyright ©kmarket.co.kr All rights reserved. KMARKET ADMINISTRATOR Version 5.4.1.2
                </p>
            </div>
        </footer>
    </div>
</body>
</html>