<th:block th:include="@{admin/_header.html}"/>
            <section id="admin-notice-view">
                <nav>
                    <h3>공지사항 보기</h3>
                    <p>
                        HOME > 고객센터 > 
                        <strong>공지사항</strong>
                    </p>
                </nav>
                <section>
                    <table>
                        <tr>
                            <td>유형</td>
                            <td>[[${notice.cate}]]</td>
                        </tr>
                        <tr>
                            <td>제목</td>
                            <td>[[${notice.title}]]</td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td>
                                <p>
                                    [[${notice.content}]]
                                </p>
                            </td>
                        </tr>
                    </table>
                    <a th:href="@{/admin/cs/notice/list(group=${notice.group},cate=${notice.cate})}">목록</a>
                    <a th:href="@{/admin/cs/notice/modify(group=${notice.group},no=${notice.no},cate=${notice.cate})}">수정</a>
                    <a href="#">삭제</a>
                </section>
            </section>
        </main>
        <footer>
            <div>
                <p>
                    Copyright ©kmarket.co.kr All rights reserved. KMARKET ADMINISTRATOR Version 5.4.1.2
                </p>
            </div>
        </footer>
    </div>
</body>
</html>