<th:block th:include="@{product/_header.html}"/>
            <section class="list">
                <!-- 제목, 페이지 네비게이션 -->
                <nav>
                    <h1>상품목록</h1>
                    <p>
                        HOME >
                        <th:block th:each="ca1:${cate1s}">
                        	<th:block th:if="${prodCate1} == ${ca1.cate1}"><span>[[${ca1.c1Name}]]</span></th:block>
                        </th:block>
                         >
                         <th:block th:each="ca2:${cate2s}">
                         	<th:block th:if="${prodCate1} == ${ca2.cate1} and ${prodCate2} == ${ca2.cate2}"><strong>[[${ca2.c2Name}]]</strong></th:block>
                    	</th:block>
                    </p>
                </nav>
                <!-- 정렬 메뉴 -->
                <ul class="sort">
                    <li th:class="${type == 'sold' ? 'on':'off'}"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${currentPage},type=sold)}">판매많은순</a></li>
                    <li th:class="${type == 'lowPrice' ? 'on':'off'}"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${currentPage},type=lowPrice)}">낮은가격순</a></li>
                    <li th:class="${type == 'highPrice' ? 'on':'off'}"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${currentPage},type=highPrice)}">높은가격순</a></li>
                    <li th:class="${type == 'score' ? 'on':'off'}"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${currentPage},type=score)}">평점높은순</a></li>
                    <li th:class="${type == 'review' ? 'on':'off'}"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${currentPage},type=review)}">후기많은순</a></li>
                    <li th:class="${type == 'new' ? 'on':'off'}"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${currentPage},type=new)}">최근등록순</a></li>
                </ul>

                <!-- 상품목록 -->
                <table border="0">
                    <tr th:each="product:${products}">
                        <td>
                            <a th:href="@{/product/view(prodCate1=${prodCate1},prodCate2=${prodCate2},prodNo=${product.prodNo})}" class="thumb"><img th:src="${product.thumb1}" alt="상품이미지"></a>
                        </td>
                        <td>
                            <a th:href="@{/product/view(prodCate1=${prodCate1},prodCate2=${prodCate2},prodNo=${product.prodNo})}"><h3 class="name">[[${product.prodName}]]</h3></a>
                            <a th:href="@{/product/view(prodCate1=${prodCate1},prodCate2=${prodCate2},prodNo=${product.prodNo})}" class="desc">[[${product.descript}]]</a>
                        </td>
                        <td>
                            <ul>
                                <li>
                                <th:block th:if="${product.discount == 0}">
                                    <ins class="dis-price" data-th-text="${#numbers.formatInteger(product.price, 3, 'COMMA')}">[[${product.price}]]</ins>
                                </th:block>
                                <th:block th:if="${product.discount != 0}">
                                    <ins class="dis-price" data-th-text="${#numbers.formatInteger(product.price*(100-product.discount)/100, 3, 'COMMA')}">[[${#numbers.formatInteger(product.price*(100-product.discount)/100, 3)}]]</ins>
                                </th:block>
                                <li>
                                <th:block th:if="${product.discount != 0}">
                                    <del class="org-price" data-th-text="${#numbers.formatInteger(product.price, 3, 'COMMA')}">[[${product.price}]]</del>
                                    <span class="discount">[[${product.discount}]]%</span>
                                </li>
                                </th:block>
                                <li>
	                                <th:block th:if="${product.delivery == 0}">
	                                    <span class="free-delivery">무료배송</span>
                                    </th:block>
	                                <th:block th:unless="${product.delivery == 0}">
	                                    <span class="delivery" >배송비 : [[${product.delivery}]]원</span>
                                    </th:block>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <h4 class="seller"><i class="fas fa-home" aria-hidden="true"></i>&nbsp;[[${product.seller}]]</h4>
                            <h5 class="badge power">판매자등급</h5>
                            <h6 th:classappend="${product.score != null} ? 'rating star' + ${product.score}: ''">상품평</h6>
                        </td>
                    </tr>
                </table>
                <!-- 상품목록 페이지 번호 -->
                <div class="paging">
	               <th:block th:if="${groups[0]>1}">
	                   <span class="prev"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${groups[0]-1}, type=${type})}"><&nbsp;이전</a></span>
	               </th:block>
	               
	               <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
	                   <span class="num"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${num}, type=${type})}" th:class="${num == currentPage?'num current':'num'}">[[${num}]]</a></span>
	               </th:block>
	               
	               <th:block th:if="${groups[1]<lastPageNum}">
	                   <span class="next"><a th:href="@{/product/list(prodCate1=${prodCate1},prodCate2=${prodCate2},pg=${groups[1] + 1}, type=${type})}">다음&nbsp;></a></span>
	               </th:block>
                </div>
            </section>
        </main>
<th:block th:include="@{product/_footer.html}"/>