<th:block th:include="@{product/_header.html}"/>

<script>
	$(function(){
		
		//  파라미터 값 추출 
		var urlParams = new URL(location.href).searchParams;
		var keyword = urlParams.get('keyword');
		$('.group > h3 > strong').text(keyword);
		
		
		
		
	
	});

</script>
            <section class="search">
                <!-- 제목, 페이지 네비게이션 -->
                <nav>
                    <h1>상품목록</h1>
                    <p>
                        HOME >
                        <span>상품검색</span>
                         >
                         <strong>검색키워드</strong>
                    </p>
                </nav>
                <div class="group">
		            <h3><strong></strong>검색결과 <em>(총&nbsp;:&nbsp;<span>[[${result}]]</span>&nbsp;건)</em></h3>
		            <form action="#">
		              <input type="text" name="search"/>
		              <input type="submit" value="검색"/>
		              <span>
		                  <label><input type="checkbox" name="chk" value="상품명">상품명</label>
		                  <label><input type="checkbox" name="chk" value="상품설명">상품설명</label>
		                  <label><input type="checkbox" name="chk" value="상품가격">상품가격</label>
		                  <input type="text" name="min"/>원&nbsp;~&nbsp;<input type="text" name="max"/>원
		              </span>
		            </form>
		            <p class="info">
		              상세검색을 선택하지 않거나, 상품가격을 입력하지 않으면 현재 결과내에서 검색합니다.<br>
		              검색어는 최대 10글자까지, 여러개의 검색어를 공백으로 구분하여 입력 할수 있습니다.
		            </p>
		          </div>
                <!-- 정렬 메뉴 -->
                <ul class="sort">
	              <li><a href="#">판매많은순</a></li>
	              <li><a href="#">낮은가격순</a></li>
	              <li><a href="#">높은가격순</a></li>
	              <li><a href="#">평점높은순</a></li>
	              <li><a href="#">후기많은순</a></li>
	              <li><a href="#">최근등록순</a></li>
	          </ul>

                
          <!-- 검색목록 -->
          <table border="0" class="searchResult">                  
            <tr  th:if="${result>0}" th:each="product, i:${products}">
              <td><a href="#" class="thumb"><img src="https://via.placeholder.com/120x120" alt="상품이미지"/></a></td>
              <td>
                <h3 class="name">[[${product.prodName}]]</h3>
                <a href="#" class="desc">[[${product.descript}]]</</a>
              </td>
              <td>
                <ul>
                  <li><ins class="dis-price">[[${product.disprice}]]</</ins></li>
                  <li>
                    <del class="org-price">[[${product.price}]]</</del>
                    <span class="discount">[[${product.discount}]]</</span>
                  </li>
                  <li><span class="free-delivery">무료배송</span></li>
                </ul>
              </td>
              <td>
                <h4 class="seller"><i class="fas fa-home"></i>&nbsp;[[${product.seller}]]</h4>
                <h5 class="badge power great">판매자등급</h5>
                <h6 class="rating star3">상품평</h6>
              </td>
            </tr>
       		<tr th:unless="${result>0}" class="none">검색된 상품이 없습니다.</tr>
       		
          </table>
          
         
          
			
          <!-- 상품목록 페이지번호 -->
         <div class="paging">
             <th:block th:if="${groups[0]>1}">
                 <span class="prev"><a th:href="@{/product/search(keyword=${keyword},pg=${groups[0]-1})}"><&nbsp;이전</a></span>
             </th:block>
             <th:block th:if="${groups[1] != 0}">
             <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">
                 <span class="num"><a th:href="@{/product/search(keyword=${keyword},pg=${num})}" th:class="${num == currentPage?'num current':'num'}">[[${num}]]</a></span>
             </th:block>
             </th:block>
             <th:block th:if="${groups[1]<lastPageNum}">
                 <span class="next"><a th:href="@{/product/search(keyword=${keyword},pg=${groups[1] + 1})}">다음&nbsp;></a></span>
             </th:block>
                </div>
          
        </section>
        <!-- 상품검색 화면 끝 -->

      </main>
<th:block th:include="@{product/_footer.html}"/>