<th:block th:include="@{admin/_header.html}"/>
            <section id="admin-qna-view">
                <nav>
                    <h3>문의하기 보기</h3>
                    <p>
                        HOME > 고객센터 > 
                        <strong>문의하기</strong>
                    </p>
                </nav>
                <section>
                    <table>
                        <tr>
                            <td>유형</td>
                            <td>[[${qna.cName}]] - [[${qna.c2Name}]]</td>
                        </tr>
                        <tr>
                            <td>제목</td>
                            <td>[[${qna.title}]]
                            </td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td>
                                <p>
                                    [[${qna.content}]]
                                </p>
                            </td>
                        </tr>
                        <th:block th:if="${response} ne null">
                        <tr>
                            <td>답변</td>
                            <td>
                                <p>
                                    [[${response.content}]]
                                </p>
                            </td>
                        </tr>
                        </th:block>
                        <th:block th:if="${response} eq null">
                        </th:block>
                    </table>
                    <th:block th:if="${response} ne null">
                    	<a>목록</a>
                    	<a>삭제</a>
                    </th:block>
                    <th:block th:if="${response} eq null">
                    	<a>목록</a>
                    	<a>추가</a>
                    </th:block>
                </section>
            </section>
        </main>
        <footer>
            <div>
                <p>
                    Copyright ©kmarket.co.kr All rights reserved. KMARKET ADMINISTRATOR Version 5.4.1.2
                </p>
            </div>
        </footer>
    </div>
</body>
</html>