<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
    	$(function(){
    		//// signup //////
    		// signup 페이지 파라미터 값 받기 (normal or seller에 따른 약관 출력)
    		var urlParams = new URL(location.href).searchParams;
    		var type = urlParams.get('type');
    		
    		console.log(type);
    		
    		
    		
    		
    	});
    
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
	                 <a th:href="@{/member/login}">로그인</a>
	                 <a th:href="@{/member/join}">회원가입</a>
	                 <a th:href="@{/myPage/home}">마이페이지</a>
	                 <a th:href="@{/product/cart}">
	                	<i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
	                 </a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a th:href="@{/}">
                        <img th:src="@{/img/header_logo.png}" alt="HeaderLogo">
                    </a>
                </div>
            </div>
        </header>