<th:block th:include="@{member/_header.html}"/>
<script>
	$(function(){
		$('.btnNext').click(function(){
			
			console.log('here1');
			
			let uid = $('input[name=uid]').val();
			let email = $('input[name=email]').val();
			
			let jsonData = {
					"uid": uid,
					"email": email
			};
			console.log(jsonData);
			
			$.ajax({
				url: '/Kmarket2/member/findPw',
				type: 'post',
				data: jsonData,
				dataType: 'json',
				success: function(data){
					if(data.result == 1){
						console.log(data);
						location.href="/Kmarket2/member/findPwChange?uid="+uid;
					}else{
						alert('해당하는 사용자가 존재하지 않습니다.\n아이디와 이메일을 다시 확인하십시오.');
					}
				}
			});
			return false;
		});
	});
</script>
<main id="member">
   <div class="find findPw">
        <nav>
            <h1>비밀번호 찾기</h1>                    
        </nav>
		<form action="#" method="post">
             <table border="0">
                 <tr>
                    <td>아이디</td>
                    <td><input type="text" id="uid" name="uid" placeholder="아이디 입력" required="required"/></td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>
                        <div>
                            <input type="email" id="email" name="email" placeholder="이메일 입력" required="required"/>
                            <span class="resultEmail"></span>
                        </div>
                    </td>
                </tr>
             </table>
             <p>
	            회원가입시 입력한 아이디와 입력한 이메일 주소가 같아야, 비밀번호를 변경할 수 있습니다.<br>
	            아이디와 이메일을 입력 후 확인 버튼을 누르세요.
	         </p>
	
	        <div class="btn">
	            <a th:href="@{/member/login}" class="btnCancel">취소</a>
	            <a th:href="@{/member/findPwChange}" class="btnNext">확인</a>
	        </div>					
		</form>
		
    </div>
</main> 
<th:block th:include="@{member/_footer.html}"/>
