<th:block th:include="@{member/_header.html}"/>
<script>
	$(function(){
		$('.btnNext').click(function(){
			
			console.log('here1');
			
			let name = $('input[name=name]').val();
			let email = $('input[name=email]').val();
			
			let jsonData = {
					"name": name,
					"email": email
			};
			console.log(jsonData);
			
			$.ajax({
				url: '/Kmarket2/member/findId',
				type: 'post',
				data: jsonData,
				dataType: 'json',
				success: function(data){
					if(data.vo != null){
						console.log(data);
						location.href="/Kmarket2/member/findIdResult";
					}else{
						alert('해당하는 사용자가 존재하지 않습니다.\n이름과 이메일을 다시 확인하십시오.');
					}
				}
			});
			
			return false;
		});
	});
</script>
<main id="member">
   <div class="find findId">
        <nav>
            <h1>아이디 찾기</h1>                    
        </nav>
		<form action="#" method="post">
             <table border="0">
                 <tr>
                    <td>이름</td>
                    <td><input type="text" id="name" name="name" placeholder="이름 입력" required="required"/></td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>
                        <div>
                            <input type="email" id="email" name="email" placeholder="이메일 입력" required="required"/>
                            <span class="resultEmail"></span>
                        </div>
                    </td>
                </tr>
             </table>
             <p>
	            회원가입시 입력한 이름과 입력한 이메일 주소가 같아야, 아이디를 찾을 수 있습니다.<br>
	            이름과 이메일을 입력 후 확인 버튼을 누르세요.
	         </p>
	
	        <div class="btn">
	            <a th:href="@{/member/login}" class="btnCancel">취소</a>
	            <a th:href="@{/member/findIdResult}" class="btnNext">확인</a>
	        </div>					
		</form>
		
    </div>
</main> 
<th:block th:include="@{member/_footer.html}"/>
