<th:block th:include="@{_header.html}"/>

        <main class="join">
            <div class="join_title">
                <img src="/Kmarket2 HTML/member/img/member_join_tit_welcome.gif" alt="">
            </div>
            <div class="join_main">
                <div>
                    <img src="/Kmarket2 HTML/member/img/member_join_tit_normal.gif" alt="">
                    <div>
                        <img src="/Kmarket2 HTML/member/img/member_join_txt_normal.gif" alt="">
                        <a href="">
                            <img src="/Kmarket2 HTML/member/img/member_join_btn1.gif" alt="">
                        </a>
                    </div>
                </div>
                <div>
                    <img src="/Kmarket2 HTML/member/img/member_join_tit_seller.gif" alt="">
                    <div>
                        <img src="/Kmarket2 HTML/member/img/member_join_txt_seller.gif" alt="">
                        <a href="">
                            <img src="/Kmarket2 HTML/member/img/member_join_btn2.gif" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="join_banner">
                <img src="/Kmarket2 HTML/member/img/member_join_banner1.jpg" alt="">
                <img src="/Kmarket2 HTML/member/img/member_join_banner2.jpg" alt="">
            </div>
        </main>

<th:block th:include="@{_footer.html}"/>