<th:block th:include="@{cs/_header.html}"/>
        <section id="cs">
            <div class="qna">
                <nav>
                    <div>
                        <p>
                            홈<span>></span>문의하기
                        </p>
                    </div>
                </nav>
                <section class="list">
                    <aside>
                        <h2>문의하기</h2>
                        <ul>
                            <li th:classappend="${cate}=='member'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=member)}">회원</a>
                            </li>
                            <li th:classappend="${cate}=='coupon'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=coupon)}">쿠폰/이벤트</a>
                            </li>
                            <li th:classappend="${cate}=='order'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=order)}">주문/결제</a>
                            </li>
                            <li th:classappend="${cate}=='delivery'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=delivery)}">배송</a>
                            </li>
                            <li th:classappend="${cate}=='cancel'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=cancel)}">취소/반품/교환</a>
                            </li>
                            <li th:classappend="${cate}=='travel'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=travel)}">여행/숙박/항공</a>
                            </li>
                            <li th:classappend="${cate}=='safe'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=safe)}">안전거래</a>
                            </li>
                        </ul>
                    </aside>
                    <article>
                        <nav>
                            <h1>회원</h1>
                            <br>
                            <h2>회원관련 문의 내용입니다.</h2>
                        </nav>
                        <table>
                            <tbody>
                                <tr th:each="qnas : ${qnas}">
                                	<td>
                                		<!-- 이거 조인해서 c2Name을 넣어야한다 나중에 해라 -->
                                		<a th:href="@{#}">[[${qnas.cate2}]]&nbsp[[${qnas.title}]]</a>
                                	</td>
                                	<td class="progress">
                                        검토중
                                    </td>
                                    <td>[[${qnas.uid}]]</td>
                                    <td>[[${qnas.rdate}]]</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="page">
                            <a th:href="@{#}" class="prev">이전</a>
                            <a th:href="@{#}" class="num on">1</a>
                            <a th:href="@{#}" class="num">2</a>
                            <a th:href="@{#}" class="num">3</a>
                            <a th:href="@{#}" class="next">다음</a>
                        </div>
                        <a th:href="@{#}" class="btnWrite">문의하기</a>
                    </article>
                </section>
            </div>
        </section>
<th:block th:include="@{cs/_footer.html}"/>