<th:block th:include="@{cs/_header.html}"/>

        <section id="cs">
            <div class="qna">
                <nav>
                    <div>
                        <p>
                            홈<span>></span>문의하기
                        </p>
                    </div>
                </nav>
                <section class="view">
                    <aside>
                        <h2>문의하기</h2>
                        <ul>
                            <li th:classappend="${cate}=='member'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=member)}">회원</a>
                            </li>
                            <li th:classappend="${cate}=='coupon'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=coupon)}">쿠폰/이벤트</a>
                            </li>
                            <li th:classappend="${cate}=='order'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=order)}">주문/결제</a>
                            </li>
                            <li th:classappend="${cate}=='delivery'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=delivery)}">배송</a>
                            </li>
                            <li th:classappend="${cate}=='cancel'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=cancel)}">취소/반품/교환</a>
                            </li>
                            <li th:classappend="${cate}=='travel'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=travel)}">여행/숙박/항공</a>
                            </li>
                            <li th:classappend="${cate}=='safe'?'on'">
                                <a th:href="@{/cs/qna/list(group=qna,cate=safe)}">안전거래</a>
                            </li>
                        </ul>
                    </aside>
                    <article>
                        <div class="top">
                            <h1>회원</h1>
                            <br>
                            <h2>회원관련 자주묻는 질문 입니다.</h2>
                        </div>
                        <nav>
                            <h2 class="title">
                                [ [[${qna.c2Name}]] ] &nbsp; [[${qna.title}]]
                            </h2>
                            <p>
                                <span>[[${qna.uid}]]</span>
                                &nbsp;
                                <span>[[${qna.rdate}]]</span>
                            </p>
                        </nav>
                        <div class="content">
                            <p>
                                [[${qna.content}]]
                            </p>
                        </div>
                        
                        <th:block th:if="${answer} ne null">
                        <div class="answer">
                            <h2 class="title">
                               ☞ [답변]&nbsp;[[${answer.title}]]
                            </h2>
                            <p>
                                [[${answer.content}]]
                            </p>
                        </div>
                        </th:block>
                        <th:block th:if="${answer} eq null">
                        
                        </th:block>
                        <a th:href="@{/cs/qna/list(group=${qna.group},cate=${qna.cate})}" class="btnList">목록보기</a>
                    </article>
                </section>
            </div>
        </section>
<th:block th:include="@{cs/_footer.html}"/>