<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>케이마켓 고객센터</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
                    <p>
                        <a href="#">로그인</a>
                        <a href="#">회원가입</a>
                        <a href="#">마이페이지</a>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                    </p>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a href="#">
                        <img src="../img/logo.png" alt="Kmarket">고객센터
                    </a>
                </div>
            </div>
        </header>

        <section id="cs">
            <div class="qna">
                <nav>
                    <div>
                        <p>
                            홈<span>></span>문의하기
                        </p>
                    </div>
                </nav>
                <section class="write">
                    <aside>
                        <h2>문의하기</h2>
                        <ul>
                            <li class="on">
                                <a href="#">회원</a>
                            </li>
                            <li>
                                <a href="#">쿠폰/이벤트</a>
                            </li>
                            <li>
                                <a href="#">주문/결제</a>
                            </li>
                            <li>
                                <a href="#">배송</a>
                            </li>
                            <li>
                                <a href="#">취소/반품/교환</a>
                            </li>
                            <li>
                                <a href="#">여행/숙박/항공</a>
                            </li>
                            <li>
                                <a href="#">안전거래</a>
                            </li>
                        </ul>
                    </aside>
                    <article>
                        <nav>
                            <h1>회원</h1>
                            <br>
                            <h2>회원관련 문의 내용입니다.</h2>
                        </nav>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        문의유형
                                    </td>
                                    <td>
                                        <select name="type1">
                                            <option value="0">선택</option>
                                            <option value="1">가입</option>
                                            <option value="2">탈퇴</option>
                                            <option value="3">회원정보</option>
                                            <option value="4">로그인</option>
                                        </select>
                                        <!--
                                        <select name="type2">
                                            <option value="0">선택</option>
                                            <option value="1">쿠폰/할인혜택</option>
                                            <option value="2">포인트</option>
                                            <option value="3">제휴</option>
                                            <option value="4">이벤트</option>
                                        </select>
                                        <select name="type3">
                                            <option value="0">선택</option>
                                            <option value="1">상품</option>
                                            <option value="2">결제</option>
                                            <option value="3">구매내역</option>
                                            <option value="4">영수증/증빙</option>
                                        </select>
                                        <select name="type4">
                                            <option value="0">선택</option>
                                            <option value="1">배송상태/기간</option>
                                            <option value="2">배송정보확인/변경</option>
                                            <option value="3">해외배송</option>
                                            <option value="4">당일배송</option>
                                            <option value="4">해외직구</option>
                                        </select>
                                        <select name="type5">
                                            <option value="0">선택</option>
                                            <option value="1">반품신청/철회</option>
                                            <option value="2">반품정보확인/변경</option>
                                            <option value="3">교환 AS신청/철회</option>
                                            <option value="4">교환정보확인/변경</option>
                                            <option value="5">취소신청/철회</option>
                                            <option value="6">취소확인/환불정보</option>
                                        </select>
                                        <select name="type6">
                                            <option value="0">선택</option>
                                            <option value="1">여행/숙박</option>
                                            <option value="2">항공</option>
                                        </select>
                                        <select name="type7">
                                            <option value="0">선택</option>
                                            <option value="1">서비스 이용규칙 위반</option>
                                            <option value="2">지식재산권침해</option>
                                            <option value="3">법령 및 정책위반 상품</option>
                                            <option value="4">게시물 정책위반</option>
                                            <option value="5">직거래/외부거래유도</option>
                                            <option value="6">표시광고</option>
                                            <option value="7">청소년 위해 상품/이미지</option>
                                        </select>
                                        -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        문의제목
                                    </td>
                                    <td>
                                        <input type="text" class="title" placeholder="제목을 입력하세요">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        문의내용
                                    </td>
                                    <td>
                                        <textarea name="content" placeholder="내용을 입력하세요"></textarea>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <a href="list.html" class="btnList">취소하기</a>
                        <input type="submit" class="btnSubmit" value="등록하기">
                    </article>
                </section>
            </div>
        </section>
        <footer>
            <ul>
                <li>
                    <a href="#">회사소개</a>
                </li>
                <li>
                    <a href="#">서비스이용약관</a>
                </li>
                <li>
                    <a href="#">개인정보처리방침</a>
                </li>
                <li>
                    <a href="#">전자금융거래약관</a>
                </li>
            </ul>
            <div>
                <p>
                    <img src="../img/footer_logo.png" alt="footer 로고">
                </p>
                <p>
                    <strong>(주)KMARKET</strong>
                    <br>
                    부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)
                    <br>
                    대표이사 : 홍길동
                    <br>
                    사업자등록번호 : 220-81-83676 사업자정보확인
                    <br>
                    통신판매업신고 : 강남 10630호 Fax:02-589-8842
                </p>
                <p>
                    <strong>고객센터</strong>
                    <br>
                    Tel : 1234-5678 (평일 09:00~18:00)
                    <br>
                    스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)
                    <br>
                    경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층
                    <br>
                    Fax : 051-123-4567 | Mail : Kmarket@kmarket.co.kr
                </p>
            </div>
        </footer>
    </div>
</body>
</html>