<th:block th:include="@{cs/_header.html}"/>
        <section id="cs">
            <div class="notice">
                <nav>
                    <div>
                        <p>
                            홈<span>></span>공지사항
                        </p>
                    </div>
                </nav>
                <section class="list">
                    <aside>
                        <h2>공지사항</h2>
                        <ul>
                            <li class="on">
                                <a th:href="@{#}">전체</a>
                            </li>
                            <li>
                                <a th:href="@{#}">고객서비스</a>
                            </li>
                            <li>
                                <a th:href="@{#}">안전거래</a>
                            </li>
                            <li>
                                <a th:href="@{#}">위해상품</a>
                            </li>
                            <li>
                                <a th:href="@{#}">이벤트당첨</a>
                            </li>
    
                        </ul>
                    </aside>
                    <article>
                        <nav>
                            <h1>전체</h1>
                            <br>
                            <h2>공지사항 전체 내용입니다.</h2>
                        </nav>
                        <table>
                        	<tr th:each="articles : ${articles}">
                        		<td><a th:href="@{/cs/notice/view(group=${articles.group},no=${articles.no},cate=${articles.cate})}">[[${articles.title}]]</a></td>
                                <td>[[${articles.rdate.substring(2, 10)}]]</td>
                            </tr>
                        </table>
                            <!-- 
                        <table>
                        	<th:block th:if="${cate} eq null">
                        	
                            <tr th:each="articles : ${articles}">
                                <td><a th:href="@{/cs/notice/view(group=${articles.group},no=${articles.no},cate=${articles.cate})}">[[${articles.title}]]</a></td>
                                <td>[[${articles.rdate.substring(2, 10)}]]</td>
                            </tr>
                            
                           </th:block>
                           
                           처음에 올때는 카테를 못받아서
                           
                           <th:block th:if="${cate} ne null">
                           
                           <tr th:each="article : ${article}">
                                <td><a th:href="@{/cs/notice/view(group=${article.group},no=${article.no},cate=${article.cate})}">[[${article.title}]]</a></td>
                                <td>[[${article.rdate.substring(2, 10)}]]</td>
                           </tr>
                           
                           </th:block>
                        </table>
                         -->
                        <div class="page">
                            <a th:href="@{#}" class="prev">이전</a>
                            <a th:href="@{#}" class="num on">1</a>
                            <a th:href="@{#}" class="num">2</a>
                            <a th:href="@{#}" class="num">3</a>
                            <a th:href="@{#}" class="next">다음</a>
                        </div>
                    </article>
                </section>
            </div>
        </section>
<th:block th:include="@{cs/_footer.html}"/>