<th:block th:include="@{cs/_header.html}"/>
        <section id="cs">
            <div class="notice">
                <nav>
                    <div>
                        <p>
                            홈<span>></span>공지사항
                        </p>
                    </div>
                </nav>
                <section class="view">
                    <aside>
                        <h2>공지사항</h2>
                        <ul>
                            <li th:classappend="${cate}==null?'on'">
                                <a th:href="@{/cs/notice/list(group=notice)}">전체</a>
                            </li>
                            <li th:classappend="${cate}=='customerService'?'on'">
                                <a th:href="@{/cs/notice/list(group=notice,cate=customerService)}">고객서비스</a>
                            </li>
                            <li th:classappend="${cate}=='safeTrade'?'on'">
                                <a th:href="@{/cs/notice/list(group=notice,cate=safeTransaction)}">안전거래</a>
                            </li>
                            <li th:classappend="${cate}=='hazardousProduct'?'on'">
                                <a th:href="@{/cs/notice/list(group=notice,cate=hazardousProduct)}">위해상품</a>
                            </li>
                            <li th:classappend="${cate}=='winningEvent'?'on'">
                                <a th:href="@{/cs/notice/list(group=notice,cate=winningEvent)}">이벤트당첨</a>
                            </li>
                        </ul>
                    </aside>
                    <article>
                        <div class="top">
                            <h1>공지사항</h1>
                            <br>
                            <h2>공지사항 전체 내용입니다.</h2>
                        </div>
                        <nav>
                            <h2 class="title">[[${article.title}]]</h2>
                            <span class="date">[[${article.rdate}]]</span>
                        </nav>
                        <div class="content">
                            <p>
                              [[${article.content}]]  
                            </p>
                        </div>
                        <a th:href="@{/cs/notice/list(group=${article.group},cate=${article.cate})}" class="btnList">목록보기</a>
                    </article>
                </section>
            </div>
        </section>
<th:block th:include="@{cs/_footer.html}"/>